{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'accounts:userwithaccount_list' %}">
          Пользователи
        </a>
      </li>
      <li class="breadcrumb-item active">
        {{ user_with_account.user.username }}
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Детали пользователя: {{ user_with_account.user.username }}</h1>
  <p><strong>Дата рождения:</strong> {{ user_with_account.birthday }}</p>
  <p><strong>Адрес:</strong> {{ user_with_account.address }}</p>
  <p><strong>Биография:</strong> {{ user_with_account.bio }}</p>
  {% if user_with_account.avatar %}
    <img src="{{ user_with_account.avatar.url }}" alt="Avatar" />
  {% endif %}
  
  <a href="{% url 'accounts:userwithaccount_update' user_with_account.id %}">Редактировать</a>
  <form method="POST" action="{% url 'accounts:userwithaccount_delete' user_with_account.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?');">Удалить</button>
  </form>
{% endblock %}