{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{% load films_tags %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">
        Пользователи
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Список пользователей</h1>
  <ul>
    {% for user in users_with_account %}
      <li><a href="{% url 'accounts:userwithaccount_detail' user.id %}">{{ user.user.username }}</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'accounts:userwithaccount_create' %}">Добавить пользователя</a>
{% endblock %}